$header-bg : #37257E;
$main-bg : #37257E;
$padding : 20px, 20px;
// и так далее, здесь задаются переменные для всех значений цветов на странице
//тут мы импортируем файл main.scss. Следующие комментарии в этом файле
@import "main";

// и точно так же будет выглядеть dark-theme.scss - только переменные и импорт мейна

a {
  display: flex;
}