@charset "UTF-8";
//$header-bg : #37257E;
$main-bg : #37257E;
$padding : 20px, 20px;
//это старый файл со стилями ----------------------------------------------------------------------------------------------------
//в этом файле тебе надо будет докинуть селекторы для сайдбаров -----------------------------------------------------------------
//а дальше импортируешь файл account.scss, в котором прописываешь стили уже конкретно для странички юзера -----------------------
@import "components/account";

* {
  box-sizing: border-box; }


.main {
  background-color: #e5edf0; }

.withoutPadding {
  padding: 0; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header-logo {
  display: block;
  width: 50px;
  height: 30px; }

.button-login,
.button-signup {
  border-radius: 20px;
  background: $header-bg;
}
// вот здесь используем переменную из файла light-theme ----------------------------------------------
// у файла dark-theme тоже будет такая переменная, но будет иметь другой цвет ------------------------
// это просто пример ---------------------------------------------------------------------------------
// в файлах, которые ты будешь импортировать здесь, ты тоже спокойно используешь переменные для цветов,
// которые ты определяешь в light-theme.scss
.no-style {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%; }

.no-style:hover {
  text-decoration: none;
  color: white !important; }

.main-block {
  background-color: #e5edf0;
  height: 100vh; }

.withoutPadding {
  padding: 0; }

.shadow {
  box-shadow: 0px 2px 9px 1px; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-color-silver {
  color: #898989; }

.test {
  background-color: #fff; }

#header {
  background-color: white;
  box-shadow: 0px 2px 4px -1px; }

.nav-header_logo {
  display: block;
  margin: 0 auto; }

.nav-link_logo::before {
  content: "";
  background-image: url("../img/icons/house.png");
  background-size: 100% 100%;
  position: absolute;
  left: 7px;
  width: 21px;
  height: 20px;
  color: #ded3d3; }

.main-form {
  padding: 30px 0 0 0;
  background-color: white; }

.form-contern {
  padding: 30px 60px; }

.form-title {
  font-weight: 300; }

.form-input_email,
.form-input_psw {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid silver;
  font-weight: 300;
  display: block;
  outline: none; }

.form-footer {
  padding: 0 60px;
  line-height: 80px;
  background-color: #e5edf0; }

.block {
  display: block; }

.form-title {
  font-size: 2em; }

.main {
  background-color: #e5edf0;
  height: 100vh; }

.withoutPadding {
  padding: 0;
  margin: 0; }

.shadow {
  box-shadow: 0px 2px 9px 1px; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-color-silver {
  color: #898989; }

#header {
  background-color: white;
  box-shadow: 0px 2px 4px -1px; }

.nav-header_logo {
  display: block;
  margin: 0 auto; }

.nav-link_logo::before {
  content: "";
  background-image: url("../img/icons/house.png");
  background-size: 100% 100%;
  position: absolute;
  left: 7px;
  width: 21px;
  height: 20px;
  color: #ded3d3; }

.date-of-birth {
  width: 100%;
}

.dob-text {
  color: #767676;
  font-size: 14px;
}

.select-dob-wrapper {
  width: 75%;
}

.select-field {
  width: 30%;

}

.registration-form {
  background-color: white;
  padding: 0; }

.registration-title {
  font-weight: 300; }

.registration-form_input {
  border: none;
  border-bottom: 1px solid silver;
  font-size: 14px;
  padding: 12px 0;
  outline: none; }

.form-content {
  padding: 30px; }

.hints {
  color: silver;
  font-size: 10px; }

.reg-errors {
  color: #e73a33;
  font-size: 10px; }

.form-footer {
  background-color: #e5edf0; }

.footer-link {
  padding: 20px 30px; }

* {
  box-sizing: border-box; }

.main {
  background-color: #e5edf0; }

.main-bg-color {
  background-color: #f5f8fa; }

.withoutPadding {
  padding: 0; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header-logo {
  display: block;
  width: 50px;
  height: 30px; }

.no-style {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%; }

.no-style:hover {
  text-decoration: none;
  color: white !important; }

.main-block {
  background-color: #e5edf0;
  height: 100vh; }

.withoutPadding {
  padding: 0; }

.shadow {
  box-shadow: 0px 2px 9px 1px; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-color-silver {
  color: #898989; }

.test {
  background-color: #fff; }

#header {
  background-color: white;
  box-shadow: 0px 2px 4px -1px; }

.nav-header_logo {
  display: block;
  margin: 0 auto; }

.nav-link_logo::before {
  content: "";
  background-image: url("../img/icons/house.png");
  background-size: 100% 100%;
  position: absolute;
  left: 7px;
  width: 21px;
  height: 20px;
  color: #ded3d3; }

.main-form {
  padding: 30px 0 0 0;
  background-color: white; }

.form-contern {
  padding: 30px 60px; }

.form-title {
  font-weight: 300; }

.form-input_email,
.form-input_psw {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid silver;
  font-weight: 300;
  display: block;
  outline: none; }

.form-footer {
  padding: 0 60px;
  line-height: 80px;
  background-color: #e5edf0; }

.block {
  display: block; }

.form-title {
  font-size: 2em; }

.main {
  background-color: #e5edf0;
  height: 100vh; }

.withoutPadding {
  padding: 0;
  margin: 0; }

.shadow {
  box-shadow: 0px 2px 9px 1px; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-color-silver {
  color: #898989; }

#header {
  background-color: white;
  box-shadow: 0px 2px 4px -1px; }

.nav-header_logo {
  display: block;
  margin: 0 auto; }

.nav-link_logo::before {
  content: "";
  background-image: url("../img/icons/house.png");
  background-size: 100% 100%;
  position: absolute;
  left: 7px;
  width: 21px;
  height: 20px;
  color: #ded3d3; }

.registration-form {
  background-color: white;
  padding: 0; }

.registration-title {
  font-weight: 300; }

.registration-form_input {
  border: none;
  border-bottom: 1px solid silver;
  font-size: 14px;
  padding: 12px 0;
  outline: none; }

.form-content {
  padding: 30px; }

.hints {
  color: silver;
  font-size: 10px; }

.form-footer {
  background-color: #e5edf0; }

.footer-link {
  padding: 20px 30px; }

/* Common style */
.container-left {
  background-color: #f5f8fa;
  display: block; }

/* header section START */
.burger-wrap {
  display: none; }

.burger-menu-wrapper {
  display: block;
  position: relative;
  top: 4px;
  left: 4px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  background-color: white; }

.burger-menu-img {
  width: 120px;
  height: 120px; }

.main-header-burg-button {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; }

.main-header-burger {
  position: absolute;
  width: 320px;
  top: -19px;
  left: -75px;
  padding-top: 76px;
  padding-bottom: 155px;
  background: white;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

.burger-user-profile-block {
  padding-left: 70px; }

.burger-menu-link-list {
  list-style: none;
  padding: 0; }

.burger-link-list__item {
  padding: 20px 0px 20px 70px; }

.burger-link-list__item:hover {
  background-color: #cecece; }

.burger-link:hover {
  color: white; }

.burger-menu-wrapper input:checked ~ .main-header-burger {
  transform: none; }

.burger-menu-slice {
  background-color: #6c757d;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1; }

.followers-user-block {
  width: 150px;
  list-style: none;
  padding: 0; }

.custom-a {
  font-weight: 600; }

.custom-search-logo {
  width: 15px;
  margin-right: 15px;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms; }

.custom-search-logo:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

.custom-search-field,
.search-if {
  border: 0;
  background-color: #a3acb2;
  border-radius: 60px; }

.search-if {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5; }

.search-if::-webkit-input-placeholder {
  color: #f5f8fa; }

.search-if::-moz-placeholder {
  color: #f5f8fa; }

.search-if:-ms-input-placeholder {
  color: #f5f8fa; }

.search-if::-ms-input-placeholder {
  color: #f5f8fa; }

.search-if::placeholder {
  color: #f5f8fa; }

.header-search-list {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0 0 5px 0;
  top: 40px;
  border-radius: 3px;
  list-style: none;
  margin: 0;
  width: 13%; }

.header-search-list__item {
  padding-left: 5px;
  overflow: hidden; }

.search-list-show {
  display: block; }

.header-search-list__item:hover {
  background-color: grey;
  color: white; }

.navbar input:active,
.navbar input:focus {
  outline: none;
  box-shadow: none; }

.custom-input-btms {
  border-radius: 5px;
  background-color: #71bad5; }

.main-header-menu-list {
  min-width: 31%; }

.list-width {
  min-width: 31%; }

.header-main-navigation {
  display: flex; }

/* header section END! */
a:hover {
  color: #0084b4 !important; }

.padding-left-3 {
  padding-left: 12px; }

.section {
  border: 1px solid #d8e2e8;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 14px;
  min-height: 200px; }

.font-size-12 {
  font-size: 12px; }

.font-size-14 {
  font-size: 14px; }

.font-size-16 {
  font-size: 16px; }

.font-size-28 {
  font-size: 28px; }

.main-section {
  padding: 0; }

.bg-color-block {
  background-color: #0084b4;
  height: 180px; }

/* first section */
.personal-info {
  /* position: relative; */
  padding-top: 75px; }

.personal-info__main-wrapper {
  position: relative; }

.personal-info__image-wrapper {
  width: 210px;
  position: absolute;
  top: -222px; }

.personal-info__user-handle {
  color: #0084b4;
  line-height: 20px; }

.circle-pseudo {
  position: relative; }

.circle-pseudo::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 2px;
  background-color: black;
  border-radius: 50%;
  top: 12px;
  left: 5px; }

.personal-info__user-location {
  background: url("../img/icons/Location_icon.png") no-repeat 1% 50%; }

.personal-info__user-site {
  background: url("../img/icons/URL_icon.png") no-repeat 0 50%; }

.personal-info__user-bio {
  width: 100%;
  max-width: 290px; }

.personal-info__user-bio,
.personal-info__user-location,
.personal-info__user-site {
  line-height: 20px; }

.personal-info__user-site {
  color: #0084b4; }

.users-suggest__user-name,
.users-suggest__user-login {
  line-height: 1rem; }

.users-suggest__link,
.worldwide-trends__link {
  color: #0084b4; }

.users-suggest__image {
  width: 48px;
  height: 48px; }

.sticky-position {
  position: -webkit-sticky;
  position: sticky;
  top: 56px; }

.users-suggest {
  display: block; }

.tweet-name {
  border: 1px solid #a3d1e3;
  background-color: #eaf3f7;
  padding: 15px;
  margin-bottom: 10px; }

.display {
  display: block; }

.tweet-name__input {
  line-height: 20px;
  border: 1px solid #a3d1e3; }

.tweet-name__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4; }

.tweet-name__input::-moz-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4; }

.tweet-name__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4; }

.tweet-name__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4; }

.tweet-name__input::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4; }

.tw-btn {
  border: 1px solid #e1e8ed;
  background: url("../img/icons/Follow_icon.png") no-repeat 8% 50%;
  padding: 4px 6px 4px 35px; }

/* second section */
.users-suggest__user-name,
.users-suggest__user-login {
  font-size: 12px; }

.worldwide-trends {
  /* position: sticky;
      top: 356px; */
  margin-bottom: 20px; }

.worldwide-trends__hashtag {
  color: #0084b4; }

.worldwide-trends__list {
  list-style: none;
  padding: 0;
  margin: 0; }

/* footer  */
/* .footer-left { */
/* position: sticky;
    top: 646px; */
/* } */
.footer__text {
  color: #ccd6dd; }

.footer__info-wrapper {
  width: 100%;
  max-width: 215px; }

/*  */
/* хедер твитов начало */
.tweets-main__header {
  background-color: #f5f8fa; }

.navbar-text-color {
  color: #0084b4; }

.nav-twets-menu {
  color: #66757f;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  border-bottom: none; }

.nav-twets-menu label {
  font-size: 15px; }

.activity-border {
  border-bottom: 3px solid #f5f8fa; }

.activity-border:hover {
  border-bottom: 3px solid #0084b4; }

.custom-btm-f {
  /* font-weight: bold; */
  background-color: #53a9ea;
  padding: 3px 15px;
  font-size: 14px;
  /* border-radius: 5px; */
  border: 1px solid #3b88c3; }

.twets:hover {
  border-bottom: 3px solid #0084b4; }

.text-label-color {
  color: #0084b4; }

.who-to-follow-display {
  display: flex; }

/* хедер твитов конец */
/* хедер твитов конец */
.tweets-main {
  padding: 0;
  min-height: 995px; }

//.tweets-main__content {
//  max-height: 1080px;
//  padding-bottom: 3rem;
//  overflow: scroll;
//  -ms-overflow-style: none;
//  scrollbar-width: none; }
//
//.tweets-main__content::-webkit-scrollbar {
//  width: 0px;
//  background: transparent; }

.line-height-n {
  line-height: normal; }

.card-add-tweet__body {
  padding-top: 60px !important; }

.card-add-tweet__input {
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #0084b4;
  resize: none; }

.card-add-tweet__btn {
  outline: none;
  user-select: none; }

.card-add-tweet__btn:disabled {
  border-color: gray;
  background-color: gray;
  color: #e6e6e6; }

.card-add-tweet__btn:hover {
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.075); }

.card-add-tweet__btn:focus {
  outline: none !important; }

/* post-footer */
.post-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.post-footer__actions {
  width: 120px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  filter: none !important; }

.like-icon {
  height: 20px;
  width: 20px;
}

.like-icon,
.rt-icon,
.fav-icon,
.more-icon {
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms; }

.actions__like:hover {
  -webkit-filter: hue-rotate(30deg) saturate(8);
  filter: hue-rotate(30deg) saturate(8); }

.actions__rt:hover {
  -webkit-filter: hue-rotate(230deg) saturate(8);
  filter: hue-rotate(230deg) saturate(8); }

.actions__fav:hover {
  -webkit-filter: hue-rotate(200deg) saturate(8);
  filter: hue-rotate(200deg) saturate(8); }

.actions__more:hover {
  -webkit-filter: hue-rotate(0deg) saturate(8);
  filter: hue-rotate(0deg) saturate(8); }

.like-icon:active,
.rt-icon:active,
.fav-icon:active,
.more-icon:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

.like-number,
.rt-number,
.fav-number {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #8899a6;
  opacity: 0.8; }

.post-footer__link {
  z-index: 1001; }

/*span post delete*/
.post-delete{
  cursor: pointer;
}
.post-delete:hover{
  color: #cc231f;
}

/* post-footer END*/
.tweets-main__footer {
  position: relative;
  height: 25px;
  bottom: 45px;
  background-color: #f5f8fa;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  z-index: 3; }

.tweets-footer-gradient {
  position: relative;
  bottom: 75px;
  height: 60px;
  z-index: 3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f8fa00), color-stop(#f5f8fa2c), color-stop(#f5f8faad), color-stop(#f5f8fae0), to(#f5f8fa));
  background: linear-gradient(#f5f8fa00, #f5f8fa2c, #f5f8faad, #f5f8fae0, #f5f8fa); }

.search-text {
  display: flex;
  justify-content: center;
  font-size: 18px;
  height: 100vw; }

.tweets-main__footer__line {
  width: 100%;
  height: 1px;
  background-color: #cccccc; }

.tweets-main__footer__logo {
  margin-left: 15px;
  margin-right: 15px; }

/* tweets END*/
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575px) {
  .display {
    display: none; }
  .bg-color-block {
    display: none; }
  .main-logo {
    position: absolute;
    top: 10px;
    right: 0; }
  .tweets-tabs-wrapper {
    justify-content: center !important; }
  .main-header-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px 0; }
  .main-header-menu-item {
    width: 100%;
    max-width: 104px; }
  .main-header-menu-icon {
    width: 100%;
    max-width: 104px; }
  .custom-search-field {
    width: 80%;
    margin: 10px auto; }
  .users-suggest {
    display: none; }
  .nav-twets-menu {
    justify-content: space-around;
    width: 84%; }
  .burger-tweets-menu {
    justify-content: space-between; }
  .user-card-wrapper {
    display: none; }
  .burger-wrap {
    display: block; } }

@media (min-width: 576px) and (max-width: 767px) {
  .display {
    display: none; }
  .bg-color-block {
    display: none; }
  .main-logo {
    position: absolute;
    top: 10px;
    right: 0; }
  .tweets-tabs-wrapper {
    justify-content: center !important; }
  .bg-color-block {
    height: 150px; }
  .nav-twets-menu {
    justify-content: space-around;
    width: 84%; }
  .main-header-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px 0; }
  .burger-tweets-menu {
    justify-content: space-between; }
  .main-header-menu-item {
    width: 22%; }
  .main-header-menu-icon {
    width: 30%; }
  .custom-search-field {
    width: 170px;
    margin: 10px auto; }
  .users-suggest {
    display: none; }
  .user-card-wrapper {
    display: none; }
  .burger-wrap {
    display: block; } }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .personal-info__image-wrapper {
    width: 140px;
    top: -166px; }
  .container-left {
    display: none; }
  .bg-color-block {
    height: 150px; }
  .main-header-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px 0; }
  .main-header-menu-item {
    width: 22%; }
  .main-header-menu-icon {
    width: 31%; }
  .custom-search-field {
    width: 70%;
    margin: 10px auto; }
  .burger-tweets-menu {
    justify-content: space-between;
    width: 84%; }
  .bg-color-block {
    display: none; }
  .users-suggest {
    display: none; }
  .user-card-wrapper {
    display: none; }
  .burger-wrap {
    display: block; } }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .personal-info__image-wrapper {
    width: 150px;
    top: -166px; }
  .users-suggest {
    display: none; } }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .tweets-nav-head-list {
    padding-right: 8vw !important; }
  .who-to-follow-display {
    display: none; } }

.user-card__profile-bg {
  background-color: #0084b4;
  height: 100px; }

.user-card__profile-info {
  background-color: white; }

.user-card__ava {
  width: 80px;
  height: 80px;
  border: 3px solid white;
  border-radius: 0.5rem;
  bottom: 35px; }

.user-card__user-name:hover {
  text-decoration: none !important; }

.user-card__user-login:hover {
  text-decoration: none !important; }

.user-card .nav-twets-menu {
  position: relative;
  bottom: 8px; }

.user-card .activity-border {
  border-bottom: 3px solid #fff; }

.user-card .activity-border:hover {
  border-bottom: 3px solid #0084b4; }

.user-card__nav-link {
  color: rgba(0, 0, 0, 0.5); }

body {
  background-color: #e6ecf0; }

.edit-bio {
  border: none;
  border-bottom: 1px solid silver;
  position: relative; }
.edit-bio label {
  color: gray;
  position: absolute;
  left: 1px;
  bottom: 0; }
.edit-bio textarea {
  border: 0;
  resize: none;
  outline: none;
  overflow: hidden;
  height: 100%; }

body {
  background-color: #e6ecf0; }

.edit-bio {
  border: none;
  border-bottom: 1px solid silver;
  position: relative; }
.edit-bio label {
  color: gray;
  position: absolute;
  left: 1px;
  bottom: 0; }
.edit-bio textarea {
  border: 0;
  resize: none;
  outline: none;
  overflow: hidden;
  height: 100%; }


.tweet-tabs.tab-is-active {
  border-bottom: 3px solid #0084b4; }
.tweet-tabs.tab-is-active a {
  color: #0084b4 !important; }

.active {
  color: gray !important; }
