@import url(public/css/normalize.css);
.main-header {
  position: fixed;
  z-index: 1;
  height: 70px;
  background-color: #FBF9FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 100px; }

.main-header__page-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold; }

.main-header__search {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: white; }
  .main-header__search .main-header__input {
    height: 70px;
    border: none;
    width: 300px;
    text-indent: 10px; }
    .main-header__search .main-header__input:focus {
      outline: none; }
  .main-header__search .main-header__search-icon {
    max-width: 75px;
    padding: 10px 7.5px 0;
    transition: 0.3s; }
    .main-header__search .main-header__search-icon img {
      width: 50px;
      height: 46px; }
    .main-header__search .main-header__search-icon:hover {
      cursor: pointer;
      transform: scale(1.05); }
    .main-header__search .main-header__search-icon:active {
      transform: scale(0.8) rotate(45deg); }

/*# sourceMappingURL=light-theme.css.map */
