/* @font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Regular.woff") format("woff");
} */

/* @font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Bold.woff") format("woff");
} */

/* html,
body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
} */

body {
  min-width: 430px;
  outline: 2px dashed #c7e4ff;
}

html::before,
body::before,
header::before,
footer::before,
main::before {
  color: #7fc1ff;
}

main,
header,
footer,
span,
article,
input {
  /* background-color: #f3faff; */
  outline: 2px solid #7fc1ff;
}

nav,
section,
aside,
div,
ul, 
a {
  /* background-color: #f9f7ff; */
  outline: 2px solid #9779ec;
}

nav::before,
section::before,
article::before,
aside::before {
  color: #9779ec;
}

h1,
h2,
li,
button,
form {
  /* font-size: 18px; */
  /* background-color: #ffffff; */
  outline: 2px solid #ff994f;
}

h1::before {
  /* content: "h1"; */
  color: #ff994f;
}

p,
label {
  /* background-color: #ffffff; */
  outline: 2px solid #f36dff;
}

p::before {
  color: #f36dff;
  /* content: "p"; */
}

ul::before {
  color: blue;
  /* content: "ul"; */
  outline: 2px solid blue;

}

li::before {
  color: green;
  /* content: "li"; */
  outline: 2px solid blue;

}

/* * {
  position: relative;
  padding: 25px 25px 20px;
  margin: 0;
  border-radius: 4px;
} */

/* *:not(:last-child) {
  margin-bottom: 20px;
} */

/* *::before {
  position: absolute;
  top: 8px;
  left: 10px;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.04em;
} */

html::before {
  /* content: "html"; */
}

body::before {
  /* content: "body"; */
}

main::before {
  /* content: "main"; */
}

header::before {
  /* content: "header"; */
}

footer::before {
  /* content: "footer"; */
}

section::before {
  /* content: "section"; */
}

article::before {
  /* content: "article"; */
}

aside::before {
  /* content: "aside"; */
}

nav::before {
  /* content: "nav"; */
}

