@charset "UTF-8";

/*$border-radius-default: 7px;*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.display-none {
    display: none;
}



/* COMMON STYLES *************************************************/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}




/* LEFT SIDEBAR *************************************************/

.left-sidebar {
    /*display: none;*/
    width: 100%;
    max-width: 270px;
    background-color: #E64E6C;
    /* background-color: #37257E; */
    /* background-color: green; */
    height: 805px;
    position: fixed;
    top: 0;
    /*left: -195px;*/
    transition: .2s;
    z-index: 2;
    transform: translateX(0);
}

.left-sidebar__logo {
    min-height: 70px;
    /*background-color: #37257E;*/
    background-color: #FBF9FA;
    background-image: url("../img/icons/dev_communication.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.2s;
    /* outline: 1px solid black; */
}

.left-sidebar__nav-menu {
    padding-top: 76px;
}

.left-sidebar__nav-list {
    list-style: none;
    /* color: black; */
    margin: 0;
    /* background-color: gold; */
    padding: 0;
}

.left-sidebar__nav-item {
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.left-sidebar__nav-check {
    display: block;
    opacity: 0;
    position: fixed;
    width: 139px;
    top: 112px;
    left: 34px;
    z-index: 4;
}

.left-sidebar__nav-check:checked ~ .left-sidebar {
    width: 75px;
    font-size: 0;
    line-height: 20px;
}

.left-sidebar__nav-check:checked ~ .nav-item__collapse-menu {
    font-size: 0;
    line-height: 20px;
}

.left-sidebar__nav-check ~ .left-sidebar {
    width: 270px;
    line-height: 20px;
    font-size: 16px;
}

.left-sidebar__nav-check:checked ~ .left-sidebar .left-sidebar__logo {
    background-size: 75% 75%;
    background-image: url("../img/icons/dev_main_logo.svg");
}


.nav-item__collapse-menu {
    cursor: pointer;
    /*transition: left .23s;*/
    z-index: 3;
    position: fixed;
    top: 89px;
    /*width: 20px;*/
    /*transform: translateZ(0);*/
}

.left-sidebar__menu-link {
    /*display: inline-block;*/
    /* color: black; */
    color: #FBF9FA;
    text-decoration: none;
    position: relative;
    width: 240px;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 27px;
    transition: 0.2s;
}

.left-sidebar__menu-link:hover {
    /*background-color: #0084b4;*/
    font-size: 20px;

}

/*.left-sidebar__nav-item:hover {*/
/*    background-color: #0084b4;*/
/*   */
/*}*/

.left-sidebar__menu-link::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/icons/icon-close.svg");
    background-size: 65% 85%;
    background-repeat: no-repeat;
    position: absolute;
    top: 16px;
    left: 0;
}

.left-sidebar__menu-link--homepage::before {
    padding: 0;
    content: "";
    width: 40px;
    height: 50px;
    background-image: url("../img/icons/icons-home.svg");
    background-size: 65% 85%;
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    left: -2px;
}





/*LEFT SIDEBAR MIN *************************************************/
/*.left-sidebar--min {*/
/*    display: none;*/
/*    width: 100%;*/
/*    max-width: 75px;*/
/*    height: 800px;*/
/*    background-color: #FBF9FA;*/
/*    position: fixed;*/
/*    top: -70px;*/
/*    left: 400px;*/
/*    box-shadow: -3px -2px 10px 0px rgba(0,0,0,0.75);*/
/*}*/

/*.left-sidebar__logo--min {*/
/*    min-height: 70px;*/
/*    !*background-color: #37257E;*!*/
/*    background-color: #FBF9FA;*/
/*    background-image: url("../img/icons/dev_main_logo.svg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 85% 85%;*/
/*    background-position: center;*/
/*}*/

/*.left-sidebar__nav-list--min {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    !*flex-wrap: wrap;*!*/
/*    padding-top: 22px;*/
/*}*/

/*.left-sidebar__nav-item--min {*/
/*    margin-bottom: 15px;*/
/*}*/

/*.left-sidebar__menu-link--min {*/
/*    display: inline-block;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background-color: red;*/
/*}*/

/*.left-sidebar__menu-link--min:hover {*/
/*    background-color: #8899a6;*/
/*}*/




/*RIGHT SIDEBAR *************************************************/

/*.right-sidebar--min {*/
/*    display: none;*/
/*    width: 100%;*/
/*    max-width: 75px;*/
/*    min-height: 715px;*/
/*    background-color: #E64E6C;*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    right: 0;*/
/*    !* box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75); *!*/
/*}*/

/*.right-sidebar__nav-list--min {*/
/*    min-height: 650px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*}*/

/*.right-sidebar__messenger-icon {*/
/*    width: 100%;*/
/*    max-width: 75px;*/
/*    min-height: 70px;*/
/*    background-color: #FBF9FA;*/
/*}*/


.right-sidebar {
    /*display: none;*/
    width: 100%;
    max-width: 270px;
    background-color: #E64E6C;
    /* background-color: #37257E; */
    /* background-color: green; */
    height: 724px;
    position: fixed;
    top: 70px;
    right: 0;
    transition: .2s;
    z-index: 2;
    transform: translateX(0);
}

.right-sidebar__messenger-icon-wrapper {
    background-color: #4C4B54;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 270px;
    min-height: 75px;
}

.right-sidebar__messenger-icon {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-sidebar__messenger-icon svg {
    fill: #FBF9FA;
    width: 25px;
    height: 25px;
}

.right-sidebar__messages-list {
    min-height: 650px;
    margin: 0;
}

.right-sidebar__messages-list-icon {
    align-items: center;
    justify-content: center;
    display: flex;
    /* padding: 5px; */
    max-width: 75px;
    min-height: 75px;
}

.right-sidebar__nav-check:checked {
    display: block;
    opacity: 0;
    position: fixed;

    width: 70px;
    top: 677px;
    right: 0;
    z-index: 4;
}

.right-sidebar__nav-check {
    position: fixed;
    opacity: 0;
    width: 80px;
    top: 677px;
    right: 80px;
    z-index: 4;
}

.right-sidebar__nav-check:checked ~ .right-sidebar {
    width: 75px;
}

.right-sidebar__nav-check ~ .right-sidebar {
    width: 270px;
}

.right-sidebar__nav-check ~ .right-sidebar .right-sidebar__messenger-icon {
    width: 270px;
}

.right-sidebar__nav-check ~ .right-sidebar .right-sidebar__messages-list-icon {
    max-width: 270px;
    min-height: 75px;
}

.right-sidebar__messages-block {
    min-height: 575px;
}

.right-sidebar__messages-list svg {
    fill: #FBF9FA;
    width: 25px;
    height: 25px;
}






/*HEADER *************************************************/
.main-header {
    width: 100%;
    min-height: 70px;
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 2; */
    /*background-color: #37257E;*/
    /*background-color: red;*/
}







/*MAIN *************************************************/


/*ACCOUNT HEADER *************************************************/
.account-main {
    background-color: #37257E;
}

.account-main__wrapper {
    position: relative;
    width: 100%;
    padding-top: 110px;
    /* border-top-left-radius: 7px; */
    /* border-top-right-radius: 7px; */
}

.section-account {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    /* padding-top: 40px; */
    /*border-top-left-radius: 7px;*/
    /*border-top-right-radius: 7px;*/
    border-radius: 7px;
    background-color: white;
}

.section-account__header {
    border-radius: 7px;
    /*border: 1px solid red;*/
}

.section-account__header-img {
    background-image: url("../img/sea.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.account-nav-menu {
    display: flex;
    justify-content: space-around;

}

.section-account__nav-menu {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-account__menu-list {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

.section-account__menu-link {
    text-decoration: none;
    font-weight: 500;
    color: #7d7d7d;
    transition: 0.2s;
}

.section-account__menu-link:hover {
    color: #E64E6C;
}

.account-nav-menu__avatar-block {
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: center;
}

.account-nav-menu__avatar {
    position: absolute;
    top: -159px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    background-color: #0084b4;
}



/*ACCOUNT MAIN *************************************************/

.section-account__main {
    background-color: #37257E;
    /*padding: 10px 0;*/
    /*width: 500px;*/
    width: 100%;
    max-width: 1220px;
    margin: 15px auto;
    min-height: 500px;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
}

.section-account__column-one {
    /* background-color: green; */
}

.section-account__column-two {
    /* background-color: #0084b4; */
    width: 100%;
    max-width: 630px;
}

.section-account__column-three {
    /* background-color: gold; */
    width: 100%;
    max-width: 295px;
}


/*PROFILE INTRO*/

.section-account__profile-intro {
    background-color: #FBF9FA;
    width: 100%;
    max-width: 295px;
    min-height: 500px;
    border-radius: 5px;
}

.profile-intro {
    padding: 25px 20px;
}

.profile-intro__title {
    font-weight: 600;
}

.profile-intro__title-link {
    text-decoration: none;
    color: #7f7d84;
    transition: .2s;
}

.profile-intro__title-link:hover {
    color: #E64E6C;
}

.profile-intro__social-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.profile-intro__social-item {
    width: 100%;
    max-width: 200px;
    min-height: 25px;
}


.profile-intro__social-link {
    /*padding: 7px 15px;*/
    display: block;
    /*width: 100px;*/
    height: 25px;
    margin-bottom: 15px;

}

.profile-intro__social-link--facebook {
    background-color: #2f5b9d;
}

.profile-intro__social-link--twitter {
    background-color: #38bff1;
}

.profile-intro__social-link--dribble {
    background-color: #f74881;
}


/*POSTS*/

.section-account__main-column {
    /* background-color: red; */
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.section-account__card {
    background-color: #FBF9FA;
    border-top-left-radius:;
    margin-bottom: 15px;
    min-height: 196px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.section-account__card--custom {
    padding: 25px;
}

.section-account__posts-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    /* background-color: red; */
    /* background-color: #FBF9FA; */
}

.card--custom {
    background-color: #7fc1ff;
}

.card-add-post__form {
    min-height: 200px;
}

.card-add-post__photo-text-wrapper {
    /* background-color: #2f5b9d; */
    display: flex;
    min-height: 228px;
    border-bottom: 1px solid rgb(230, 236, 245);
}

.card-add-post__photo-wrapper {
    width: 100%;
    max-width: 70px;
    /*height: 190px;*/
}

.card-add-post__input {
    width: 100%;
    max-width: 530px;
    min-height: 190px;
    background-color: #FBF9FA;
    border: none;
    padding: 24px 10px 0 10px;
}

.card-add-post_functions-wrapper {
    display: flex;
    min-height: 84px;
    width: 100%;
    max-width: 544px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.card-add-post__button {
    background-color: #E64E6C;
    color: white;
    border-radius: 5px;
    /* min-height: 20px; */
    padding: 0.8rem 2.1rem;
    border: none;
    cursor: pointer;

    /* display: block; */
}

.card-add-post__post-image {
    width: 8%;
    padding-left: 32px;
    /* opacity: 0; */
    position: relative;
    /* transition: .2s; */2s; */
cursor: pointer;
}

.card-add-post__post-image::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    background-image: url("../img/icons/file-upload.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.card-add-post__functions-inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 402px;
    align-items: center;
}

.card-add-post__card-subtitle {
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

.section-account__post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-account__name-info-wrap {
    position: relative;
    padding-left: 48px;
    padding-top: 2px;
}

.section-account__post-footer {
    display: flex;
    padding: 25px 0 0 0;
    border-top: 1px solid rgb(230, 236, 245);
}

.card-text {
    display: block;
    min-height: 48px;
    padding: 19px 0;
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.section-account__post-profile-img {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.section-account__span {
    position: relative;
}

.section-account__span::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: grey;
}

.section-account__span:nth-child(1)::before {
    left: -14px;
}

.section-account__span:nth-child(2)::before {
    left: -7px;
}

.card-subtitle-name {
    line-height: 24px;
    color: #414350;
    font-weight: 500;
    transition: .2s;
    /* margin: 0 0 7px 0; */
    /* margin: 0 0 7px 0; */
}

.card-subtitle-name:hover {
    color: #E64E6C;
}

.card-subtitle-date {
    margin: 0;
    font-weight: 600;
    color: grey;
    /* padding-left: 0px; */
}

.actions__like {
    display: flex;
    align-items: center;
}

.like-icon {
    width: 20px;
    height: 20px;
}

.like-number {
    line-height: 23px;
    padding-left: 5px;
}





/*FRIENDS*/

.section-account__friends {
    background-color: #FBF9FA;
    width: 100%;
    max-width: 295px;
    min-height: 247px;
    border-radius: 5px;
}

.friends {
    padding: 25px 20px;
}

.friends__header-title {
    font-weight: 600;
}

.friends__header-title-link {
    text-decoration: none;
    color: #7f7d84;
    transition: .2s;
}

.friends__header-title-link:hover {
    color: #E64E6C;
}



.friends__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 0 0 0;
    /* margin: 10px 0 0 0; */
    border-top: 1px solid rgb(230, 236, 245);
}

.friends__list-item {
    background-color: #E64E6C;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 8px 8px 0;
    /* border-top: 1px solid rgb(230, 236, 245); */
}


/*FOOTER *************************************************/

