<form action="../../user/edit" class="edit-content-form2"  method="POST">
  <div class="form-content mb-4">
    <h4 class="registration-title">Change Password</h4>
    <div class="row withoutPadding">
      <input
        type="password"
        name="current-password"
        class="registration-form_input dateOfBirth currentPassword"
        placeholder="Current Password"
      />
      <input
        type="password"
        name="password"
        class="registration-form_input password"
        placeholder="Password"
      />
      {% if errors.password_err == true %}
        <p class="reg-errors">
          {{ errors.password_err }}
        </p>
      {% else %}
        <p class="hints">
          Password must be at least eight(8) chapters long and must contain
          one uppercase and number
        </p>
      {% endif %}
      <input
        type="password"
        name="confirm-password"
        class="registration-form_input dateOfBirth confirm-password"
        placeholder="Confirm Password"
      />
      <p class="reg-errors">
        {{ errors.password_confirm_err }}
      </p>
      <button
        type="submit"
        class="btn btn-primary rounded-pill registrationBtn updatePassBtn"
      >
        CHANGE PASSWORD
      </button>
    </div>
  </div>
</form>
<div class="delete-account-btn">

</div>
