<form action="../../user/edit" class="edit-content-form1" enctype="multipart/form-data" method="POST">
  <div class="form-content">
    <h4 class="registration-title">Personal Information</h4>
    <div class="row withoutPadding">
      <input
              type="text"
              class=" col-xl-5 col-lg-5 col-sm-12 col-12 mt-3 registration-form_input firstName"
              placeholder="First name"
              name="firstname"
              value="{{ formdata.firstname }}"
      />
      <p class="reg-errors">
        {{ errors.firstname_err }}
      </p>
      <input
              type="text"
              class="col-xl-5 col-lg-5 col-sm-12 col-12 mt-3 ml-auto registration-form_input form_input-lastname lastName"
              placeholder="Last name"
              name="lastname"
              value="{{ formdata.lastname }}"
      />
      <p class="reg-errors">
        {{ errors.lastname_err }}
      </p>
    </div>
    <div class="row withoutPadding">
      <input
              type="email"
              class="col-12 mt-3 registration-form_input email"
              placeholder="Email"
              name="email"
              value="{{ formdata.email }}"
      />
      <p class="reg-errors">
        {{ errors.email_err }}
      </p>
      <input
              type="text"
              class="col-12 mt-3 registration-form_input userName"
              placeholder="Username"
              name="username"
              value="{{ formdata.username }}"
      />
      {% if errors.username_err == true %}
        <p class="reg-errors">
          {{ errors.username_err }}
        </p>
      {% else %}
        <p class="hints">
          Username must be at least three(3) chapters long and must
          contain one underscore and number
        </p>
      {% endif %}
      <div class="edit-bio col-12 mt-5 registration-form_input pb-0 pt-0 d-flex flex-wrap">
        <textarea
                class="w-100 custom-textarea bio pb-2"
                name="bio"
                rows="1"
                id="bio"
        >
          {{ formdata.bio }}
        </textarea>
        <label for="bio" class="edit-label-bio">Bio</label>
        <p class="reg-errors">
          {{ errors.bio_err }}
        </p>
      </div>
      <h6 class="card-add-post__card-subtitle-edit card-add-post__card-subtitle" id="snum-bio">0/1000</h6>
      <div class="mt-3 d-flex date-of-birth justify-content-between flex-row align-items-center">
        <span class="dob-text">Date of birth:</span>
        <div class="select-dob-wrapper d-flex justify-content-between">
          <select class="form-control select-field dob-month" name="dob_month">
            <option>month</option>
            {% for i in 1..9 %}
              <option id="0{{ i }}" value="0{{ i }}">0{{ i }}</option>
            {% endfor %}
            {% for i in 10..12 %}
              <option id="{{ i }}" value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          <select  class="form-control select-field dob-day" name="dob_day">
            <option value="day">day</option>
            {% for i in 1..9 %}
              <option id="0{{ i }}" value="0{{ i }}">0{{ i }}</option>
            {% endfor %}
            {% for i in 10..31 %}
              <option id="{{ i }}" value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          <select class="form-control select-field dob-year" name="dob_year">
            <option>year</option>
            {% for i in 2020..1950 %}
              <option id="{{ i }}" value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mt-3 mb-2 w-100">
        <label for = "profileimg" class="mb-2 w-100">Choose avatar</label>
        <input type="file"  name="profileimg" accept=".png, .jpg, .jpeg" id="profileimg" class="inputfile" />
      </div>
      <div class="mt-3 mb-2 w-100">
        <label for = "background" class="mb-2 w-100">Choose background</label>
        <input type="file"  name="background" accept=".png, .jpg, .jpeg" id="background" class="inputfile" />
      </div>

      <button
              type="submit"
              class="btn btn-primary rounded-pill mt-4 registrationBtn updateBtn"
      >
        UPDATE
      </button>
    </div>
  </div>
</form>
