<div class="col-12 fixed-bottom tweets-footer-gradient px-0"></div>
<div class="col-12 fixed-bottom tweets-main__footer px-0">
  <div class="tweets-main__footer__line"></div>
  <img
    src="../../public/img/icons/twitter_logo_footer.png"
    alt=""
    class="tweets-main__footer__logo"
  />
  <div class="tweets-main__footer__line"></div>
</div>
