<div class="friends">
    <div class="friends__header-wrapper">
        <span class="friends__header-title"><a class="friends__header-title-link" href="#">Friends</a></span>
    </div>
    <div class="friends__list-wrapper">
        <ul class="friends__list">
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
            <li class="friends__list-item"></li>
        </ul>
    </div>
</div>