<header class="main-header page-header">
{#  <nav class="col-sm-12 col-xl-12 navbar header-main-nav header-navbar container-fluid navbar-expand-lg navbar-light bg-light px-4">#}
{#      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button> -->#}
{#      <div class="burger-wrap">#}
{#      <div class="burger-menu-wrapper">#}
{#      <input type="checkbox" class="main-header-burg-button" value="menu">#}
{#      <span class="burger-menu-slice"></span>#}
{#      <span class="burger-menu-slice"></span>#}
{#      <span class="burger-menu-slice"></span>#}
{#      <nav class="main-header-burger">#}
{#        <div class="burger-user-profile-block">#}
{#        <img class="img-thumbnail burger-menu-img mb-3" src="../../public/img/Your-profile-pic-here.png" alt="">#}
{#        <h3><a class="personal-info__user-name font-weight-light text-dark text-decoration-none" href="{{ localhost }}user/account">{{ user.firstname }}</a></h3>#}
{#        <span#}
{#            class="personal-info__user-handle font-weight-bold font-size-14 d-block mb-2"><a href="{{ localhost }}user/account" class="text-decoration-none text-muted">@{{ user.username }}</a></span>#}
{#            <ul#}
{#            class="nav-twets-menu burger-tweets-menu nav nav-tabs navbar-nav text-uppercase d-flex flex-row flex-wrap my-4"#}
{#            id="nav-tweets-tabs"#}
{#          >#}
{#            <li#}
{#              class="nav-item  activity-border nav-item d-flex flex-column"#}
{#            >#}
{#              <a#}
{#                class="nav-link px-0 pb-0 pt-0 border-0"#}
{#                id="column1"#}
{#                href="#tweets"#}
{#                >tweets</a#}
{#              >#}
{#              <label for="column1" class="navbar-text-color mb-1"#}
{#                >781</label#}
{#              >#}
{#            </li>#}
{#            <li#}
{#              class="nav-item  activity-border nav-item d-flex flex-column"#}
{#            >#}
{#              <a#}
{#                class="nav-link px-0 pb-0 pt-0 border-0"#}
{#                id="column3"#}
{#                href="#following"#}
{#                >following</a#}
{#              >#}
{#              <label for="column3" class="navbar-text-color mb-1"#}
{#                >164</label#}
{#              >#}
{#            </li>#}
{#            <li#}
{#              class="nav-item   activity-border nav-item d-flex flex-column"#}
{#            >#}
{#              <a#}
{#                class="nav-link px-0 pb-0 pt-0 border-0"#}
{#                id="column4"#}
{#                href="#followers"#}
{#                >followers</a#}
{#              >#}
{#              <label for="column4" class="navbar-text-color mb-1"#}
{#                >277</label#}
{#              >#}
{#            </li>#}
{#          </ul>#}
{#      </div>#}
{#        <ul class="burger-menu-link-list d-flex flex-column">#}
{#          <li class="burger-link-list__item"><a class="burger-link text-decoration-none text-muted font-weight-bold" href="{{ localhost }}user/homepage">Home</a></li>#}
{#          <li class="burger-link-list__item"><a class="burger-link text-decoration-none text-muted font-weight-bold" href="{{ localhost }}user/search">Search</a></li>#}
{#          <li class="burger-link-list__item"><a class="burger-link text-decoration-none text-muted font-weight-bold" href=".{{ localhost }}user/logout">Logout</a></li>#}
{#        </ul>#}
{#      </nav>#}
{#    </div>#}
{#    </div>#}



{#      <nav class="collapse col-xl-12 navbar-collapse header-main-navigation" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav text-muted main-header-menu-list px-2">#}
{#          <li class="d-flex flex-nowrap align-items-center ml-3 main-header-menu-item justify-content-center">#}
{#              <a class="mr-1" href="{{ localhost }}user/homepage" id="home">#}
{#                  <img src="../../public/img/icons/Home_icon.png" alt="home">#}
{#              </a>#}
{#              <label class="mb-0" for="home"><a class="text-decoration-none custom-a text-muted" href="{{ localhost }}user/homepage">Home</a></label>#}
{#          </li>#}
{#        </ul>#}
{#          <div class="mx-auto main-header-nav-logo">#}
{#              <a class="navbar-brand mx-auto" href="{{ localhost }}user/homepage">#}
{#                  <img src="../../public/img/icons/Twitter_logo.png" alt="logo">#}
{#              </a>#}
{#          </div>#}
{#          <ul class="navbar-nav text-muted justify-content-between list-width flex-row">#}
{#          <li class="d-flex flex-nowrap custom-search-field align-items-center px-2">#}
{#              <input class="w-100 search-if text-light" type="search" placeholder="Search" aria-label="Search">#}
{#              <input type="image" src="../../public/img/icons/search_icon@2x.png" class="custom-search-logo">#}
{#            <ul class="header-search-list">#}
{#            </ul>#}
{#          </li>#}
{#          <li class="d-flex flex-nowrap ml-3 align-items-center main-header-menu-icon">#}
{#              <div class="p-1 custom-input-btms d-flex align-items-center mx-auto">#}
{#                  <input type="image" src="../../public/img/icons/Compose_icon.svg" class="">#}
{#              </div>#}
{#          </li>#}
{#          <li class="d-flex flex-nowrap ml-3 align-items-center main-header-menu-icon">#}
{#              <a href="{{ localhost }}user/logout" class="p-1 d-flex align-items-center mx-auto text-muted font-weight-bold text-decoration-none">Logout</a>#}
{#          </li>#}
{#        </ul>#}
{#      </nav>#}
{#    </nav>#}
</header>
