<input type="checkbox" name="menu-checkbox" class="left-sidebar__nav-check" checked>
<div class="left-sidebar">
    <div class="left-sidebar__logo">

    </div>
    <nav class="left-sidebar__nav-menu">
        <ul class="left-sidebar__nav-list">
            <li class="left-sidebar__nav-item nav-item__collapse-menu"><a class="left-sidebar__menu-link left-sidebar__menu-link--collapse-menu" href="#">Collapse Menu</a></li>
            <li class="left-sidebar__nav-item nav-item__homepage"><a class="left-sidebar__menu-link left-sidebar__menu-link--homepage" href="#">Homepage</a></li>
            <li class="left-sidebar__nav-item nav-item__example"><a class="left-sidebar__menu-link" href="#">Item</a></li>
            <li class="left-sidebar__nav-item nav-item__example"><a class="left-sidebar__menu-link" href="#">Item</a></li>
            <li class="left-sidebar__nav-item nav-item__example"><a class="left-sidebar__menu-link" href="#">Item</a></li>
            <li class="left-sidebar__nav-item nav-item__example"><a class="left-sidebar__menu-link" href="#">Item</a></li>
            <li class="left-sidebar__nav-item nav-item__example"><a class="left-sidebar__menu-link" href="#">Item</a></li>
            <li class="left-sidebar__nav-item nav-item__example"><a class="left-sidebar__menu-link" href="#">Item</a></li>
            <li class="left-sidebar__nav-item nav-item__example"><a class="left-sidebar__menu-link" href="#">Item</a></li>
            <li class="left-sidebar__nav-item nav-item__example"><a class="left-sidebar__menu-link" href="#">Item</a></li>
            <li class="left-sidebar__nav-item nav-item__example"><a class="left-sidebar__menu-link" href="#">Item</a></li>

        </ul>
    </nav>
{#    <section class="personal-info">#}
{#        <div class="personal-info__main-wrapper">#}
{#        <div class="personal-info__image-wrapper mb-2">#}
{#            <img src="../../public/img/Your-profile-pic-here.png" class="img-thumbnail" alt="Cinque Terre">#}
{#        </div>#}
{#        <h3><a class="personal-info__user-name font-weight-light text-dark text-decoration-none" href="./{{ user.username }}">{{ user.firstname }} {{ user.lastname }}</a></h3>#}
{#        <span#}
{#            class="personal-info__user-handle font-weight-bold font-size-14 d-block mb-2"><a href="./{{ user.username }}" class="text-decoration-none text-muted">@{{ user.username }}</a></span>#}
{#        </div>#}
{#        <p class="personal-info__user-bio text-muted font-size-14 mb-3">{{ user.bio }}</p>#}
{#        <div class="mb-3 font-size-14 d-flex flex-wrap flex-column">#}
{#            <span class="personal-info__user-location text-muted pl-4">Your location</span>#}
{#            <a href="https://twitter.com/home" class="personal-info__user-site pl-4">Twitter.com</a>#}
{#        </div>#}

{#        <div class="col tweet-name rounded">#}
{#            <input class="tweet-name__input form-control" type="text"#}
{#                placeholder="Tweet to Your Name here">#}
{#        </div>#}
{#    </section>#}
{#    <div class="sticky-position">#}

{#    <footer class="footer-left d-flex flex-wrap pl-2 pr-3 font-size-12">#}
{#        <div class="footer__info-wrapper d-flex flex-wrap justify-content-between">#}
{#            <span class="footer__text">@2014 Twitter</span>#}
{#            <a class="footer__text " href="#">About</a>#}
{#            <a class="footer__text" href="#">Help</a>#}
{#            <a class="footer__text" href="#">Ads info</a>#}
{#        </div>#}
{#        <span class="footer__text">Twitter 2014 GUI PSD by @GiulioBx - v.1.1</span>#}
{#    </footer>#}
{#</div>#}
</div>