
    <div class="section-account__card section-account__card-add-post card-add-post">
      <form method="POST" class="card-add-post__body card-add-post__form">
{#        //action="{{ localhost }}post/create"#}
          <div class="card-add-post__photo-text-wrapper">
          <div class="card-add-post__photo-wrapper"></div>
        <textarea
          rows="1"
          name="post_field"
          class=" card-add-post__input"
          placeholder="Share what you are thinking here..."
          id="input-post"
        ></textarea>
          </div>
          <div class="card-add-post_functions-wrapper">
              <div class="card-add-post__functions-inner">
                  <input type="file" name="image" class="card-add-post__post-image" accept="image/*"/>
              <h6 class="card-add-post__card-subtitle" id="snum-post">0/1000</h6>
              </div>
              <input type="button" class="card-add-post__button" id="add-post" value="POST">
          </div>
      </form>
    </div>

    <ul class="section-account__posts-list">
      {% include('./templates/post.twig') %}
    </ul>
    <!-- tweet -->

    <!-- tweet -->

    <!-- tweet -->


    <!-- tweet -->


