<div class="col-xl-3 col-lg-4 col-md-4 user-card-wrapper">
    <div class="col-xl-12 col-lg-12 col-md-12 px-0 rounded shadow-sm user-card">
        <div class="rounded-top user-card__profile-bg">
            <img src="../../public/img/profile_backgrounds/{{ user.background }}" width="600px" height="300px" class="ml-3 position-relative user-card__ava">
        </div>
        <div class="d-flex flex-row rounded-bottom user-card__profile-info temp">
            <img src="../../public/img/avatars/{{ user.profileimg }}" width="100px" height="100px" class="ml-3 position-relative user-card__ava">
            <div class="pl-2 pt-1">
                <h4 class="card-title font-weight-light mb-1 pr-2">
                   <a href="{{ localhost }}user/account" class="text-dark user-card__user-name">{{ user.firstname }} {{ user.lastname }}</a>
                </h4>
                <p class="text-muted">
                    <a href="{{ localhost }}user/account"class="text-reset user-card__user-login">@{{ user.username }}</a>
                </p>
            </div>
        </div>
        <div class="user-card__actions"></div>
    </div>
</div>
