{% for post in userPosts %}
    <li class="section-account__card section-account__card--custom" id="p{{ post.id }}">

            <div class="section-account__post-header">
                <div class="section-account__name-info-wrap">
                <img class="section-account__post-profile-img" src="">
        <span class="card-subtitle-name">
              {{ post.firstname }} {{ post.lastname }} @{{ post.username }}
        </span>
                <h6 class="card-subtitle-date">
                    {{ post.created_at }}
                </h6>
                </div>
                <div class="section-account__add-functions">
                    <span class="section-account__span"></span>
                    <span class="section-account__span"></span>
                    <span class="section-account__span"></span>
                </div>
                <div class=" post-footer__link display-none">
                    <a href="#" class="card-link d-none">View more photos</a>
                    {% if post.canDel == true %}
                        <span class="post-delete" id="del{{ post.id }}">Delete</span>
                    {% endif %}
                </div>
            </div>
            <p class="card-text text-body font-size-16">
                {{ post.body }}
            </p>
            {% if post.image != null %}
            <img src="{{ localhost }}public/img/posts_img/{{ post.image }}"
                 class="card-img-top rounded-0"
            >
            {% endif %}
            <div class="section-account__post-footer">
                <div class="section-account__post-footer-actions">
                    <div class="actions__like">
                        <img src="{{ localhost }}public/img/icons/{{ post.isLiked }}_icon.png"
                             class="like-icon {{ post.isLiked }}"
                             id="l{{ post.id }}" />
                        <span class="like-number font-weight-bold font-size-12">{{ post.likes }}</span>
                    </div>
{#                    <div class="mr-2 actions__rt">#}
{#                        <img src="../../public/img/icons/rt_icon.png" class="rt-icon" />#}
{#                        <span class="rt-number font-weight-bold font-size-12">35</span>#}
{#                    </div>#}
{#                    <div class="mr-2 actions__fav">#}
{#                        <img src="../../public/img/icons/fav_icon.png" class="fav-icon" />#}
{#                        <span class="fav-number font-weight-bold font-size-12">99</span>#}
{#                    </div>#}
{#                    <div class="mr-2 actions__more">#}
{#                        <img src="../../public/img/icons/more_icon.png" class="more-icon" />#}
{#                    </div>#}
                </div>

            </div>

    </li>
{%  endfor %}
