<div class="profile-intro">
    <div class="profile-intro__header">
        <span class="profile-intro__title"><a class="profile-intro__title-link" href="#">Profile Intro</a></span>
    </div>
    <div class="profile-intro__about-wrapper">
        <div class="profile-intro__about-text">
            <h6 class="profile-intro__about-head">About Me:</h6>
            <span class="profile-intro__about-desc">Hi, I’m Nick, I’m 24 and I study web-development.</span>
            <h6 class="profile-intro__about-head">Favourite TV Shows:</h6>
            <span class="profile-intro__about-desc">Breaking Good, RedDevil, People of Interest, The Running Dead, Found, American Guy.</span>
            <h6 class="profile-intro__about-head">Favourite Music Bands / Artists:</h6>
            <span class="profile-intro__about-desc">Swedish House Mafia, Martin Garrix, Axwell, Camelphat, Ghostemane</span>
        </div>
       <div class="profile-intro__social-wrapper">
            <h6 class="profile-intro__social-head">Other Social Networks:</h6>
           <div class="profile-intro__social-block">
               <ul class="profile-intro__social-list">
                   <li class="profile-intro__social-item"><a class="profile-intro__social-link profile-intro__social-link--facebook" href="#"></a></li>
                   <li class="profile-intro__social-item"><a class="profile-intro__social-link profile-intro__social-link--twitter" href="#"></a></li>
                   <li class="profile-intro__social-item"><a class="profile-intro__social-link profile-intro__social-link--dribble" href="#"></a></li>
               </ul>
           </div>
       </div>
    </div>
</div>