<div class="right-sidebar--min">
    <div class="right-sidebar__logo--min">

    </div>
    <nav class="right-sidebar__nav-menu--min">
        <ul class="right-sidebar__nav-list--min">
            <li class="right-sidebar__nav-item--min nav-item__collapse-menu--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__homepage--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__example--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__example--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__example--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__example--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__example--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__example--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__example--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__example--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
            <li class="right-sidebar__nav-item--min nav-item__example--min"><a class="right-sidebar__menu-link--min" href="#"></a></li>
        </ul>
        <div class="right-sidebar__messenger-icon">
            <svg><use xlink:href="#olymp-comments-post-icon">
                    <svg id="olymp-comments-post-icon" viewBox="0 0 36 32" width="100%" height="100%">
                        <title>comments-post-icon</title>
                        <path d="M32 0h-28c-2.21 0-4 1.792-4 4v18c0 2.208 1.792 4 4 4 0 0 0.75 0 2 0v-4h-2v-18h28v22c2.208 0 4-1.792 4-4v-18c0-2.208-1.792-4-4-4zM18 26h2v-4h-2v4zM24 26h4v-4h-4v4zM8 12h20v-4h-20v4zM8 18h12v-4h-12v4z"></path>
                        <path d="M18 22l-8 4.282v-4.282h-4v10l12-6v-4z"></path>
                    </svg>
                </use></svg>
        </div>
    </nav>
    {#    <section class="personal-info">#}
    {#        <div class="personal-info__main-wrapper">#}
    {#        <div class="personal-info__image-wrapper mb-2">#}
    {#            <img src="../../public/img/Your-profile-pic-here.png" class="img-thumbnail" alt="Cinque Terre">#}
    {#        </div>#}
    {#        <h3><a class="personal-info__user-name font-weight-light text-dark text-decoration-none" href="./{{ user.username }}">{{ user.firstname }} {{ user.lastname }}</a></h3>#}
    {#        <span#}
    {#            class="personal-info__user-handle font-weight-bold font-size-14 d-block mb-2"><a href="./{{ user.username }}" class="text-decoration-none text-muted">@{{ user.username }}</a></span>#}
    {#        </div>#}
    {#        <p class="personal-info__user-bio text-muted font-size-14 mb-3">{{ user.bio }}</p>#}
    {#        <div class="mb-3 font-size-14 d-flex flex-wrap flex-column">#}
    {#            <span class="personal-info__user-location text-muted pl-4">Your location</span>#}
    {#            <a href="https://twitter.com/home" class="personal-info__user-site pl-4">Twitter.com</a>#}
    {#        </div>#}

    {#        <div class="col tweet-name rounded">#}
    {#            <input class="tweet-name__input form-control" type="text"#}
    {#                placeholder="Tweet to Your Name here">#}
    {#        </div>#}
    {#    </section>#}
    {#    <div class="sticky-position">#}

    {#    <footer class="footer-right d-flex flex-wrap pl-2 pr-3 font-size-12">#}
    {#        <div class="footer__info-wrapper d-flex flex-wrap justify-content-between">#}
    {#            <span class="footer__text">@2014 Twitter</span>#}
    {#            <a class="footer__text " href="#">About</a>#}
    {#            <a class="footer__text" href="#">Help</a>#}
    {#            <a class="footer__text" href="#">Ads info</a>#}
    {#        </div>#}
    {#        <span class="footer__text">Twitter 2014 GUI PSD by @GiulioBx - v.1.1</span>#}
    {#    </footer>#}
    {#</div>#}
</div>