<div class="col-xl-3 col-lg-4 col-md-4 user-card-wrapper">
    <div class="col-xl-12 col-lg-12 col-md-12 px-0 rounded bg-white user-card">
        <div class="rounded-top user-card__profile-bg"></div>
        <div class="d-flex flex-row user-card__profile-info temp">
            <img src="../../public/img/Your-profile-pic-here.png" class=" position-relative user-card__ava">
            <div class="pl-2 pt-1">
                <h4 class="card-title font-weight-light ">
                   <a href="{{ localhost }}user/account" class="text-dark user-card__user-name">{{ user.firstname }} {{ user.lastname }}</a>
                </h4>
                <p class="text-muted pr-2 font-weight-bold font-size-14">
                    <a href="{{ localhost }}user/account"class="text-reset user-card__user-login">@{{ user.username }}</a>
                </p>
            </div>
        </div>
        <ul class="nav-twets-menu nav nav-tabs navbar-nav text-uppercase d-flex flex-row flex-wrap bg-white rounded-bottom" id="nav-tweets-tabs">
            <li class="nav-item pr-2 ml-4 activity-border nav-item d-flex flex-column mr-4">
                <a class="nav-link px-0 pb-0 pt-0 border-0 user-card__nav-link" id="column1" href="#tweets">tweets</a>
                <label for="column1" class="navbar-text-color">781</label>
            </li>
            <li class="nav-item activity-border nav-item d-flex flex-column mr-4">
                <a class="nav-link px-0 pb-0 pt-0 border-0 user-card__nav-link" id="column3"   href="#following">following</a>
                <label for="column3" class="navbar-text-color ">164</label>
            </li>
            <li class="nav-item activity-border nav-item d-flex flex-column mr-4">
                <a class="nav-link px-0 pb-0 pt-0 border-0 user-card__nav-link" id="column4" href="#followers">followers</a>
                <label for="column4" class="navbar-text-color ">277</label>
            </li>
        </ul>    
    </div>
</div>
