{% extends 'default.twig' %}

{% block body %}

    <div class="justify-content-center err404-wrapper" style="height: 200px; background-color: black">
{#        <div class="jumbotron col-8 border border-primary bg-white" style="margin-top: 100px">#}
{#            <h1 class="display-4">404 Oh no!</h1>#}
{#            <p class="lead">The page you look for isn't found or deleted :(</p>#}
{#            <hr class="my-4">#}
{#            <p>You can go back and try one more time. Good luck!</p>#}
{#            <p class="lead">#}
                <div class="col-12 pl-5" style="position: absolute; top: 20px; z-index: 1000">
                    <h1 style="color: white; font-family: sans-serif;">404</h1>
                    <h3 style="color: white; font-family: sans-serif; margin-bottom: 20px">The page you look for isn't found or deleted :(</h3>
                    <a class="btn btn-secondary btn-lg" href="../../../errors/comeback" role="button">Come back</a>
                </div>
{#                <audio class="audio-err404">#}
{#                    <source src="../../../public/audio/ohno404.mp3" type="audio/mp3">#}
{#                    <source src="../../../public/audio/ohno404.wav" type="audio/wav">#}
{#                </audio>#}
{#                <input type="button" class="audio-play404">#}
{#                <iframe src="../../../public/audio/silence.mp3" allow="autoplay" id="audio" style="display:#}
{#                none"></iframe>#}
{#                    <audio id="player" autoplay loop>#}
{#                        <source src="../../../public/audio/ohno404.mp3" type="audio/mp3">#}
{#                    </audio>#}
{#            </p>#}
{#        </div>#}
        <video autoplay muted controls class="video-err404" width="100%" style=";position: absolute; top: -50px; z-index: 999; outline: none">
            <source src="../../../public/audio/video404.mp4" type="video/mp4">
            <source src="../../../public/audio/video404.ogv" type="video/ogg">
        </video>
    </div>

{% endblock %}