
$light-c: #FBF9FA; // около белый
$pink-c: #E64E6C;  // розовый
$violet-c: #37257E; // фиолетовый
$violet-blue-c: #221870; // фиолетовый под надписью города на главной странице DevEducation
$dark-c: #111112; // черный почти

$icons-bc: #4C4B54; // background color иконок соцсетей

$header-bg: $light-c;
// и так далее, здесь задаются переменные для всех значений цветов на странице
//тут мы импортируем файл main.scss. Следующие комментарии в этом файле
@import "main";

// и точно так же будет выглядеть dark-theme.scss - только переменные и импорт мейна
