{% extends "default.twig" %}

{% block title %}{{ user.firstname }} {{ user.lastname }}{% endblock %}
{% block page_name %} profile page {% endblock %}
{% block body %}
  <main class="main account-main">
    <div class="account-main__wrapper">
        {% include("./templates/left-sidebar.twig") %}
{#        {% include("./templates/left-sidebar-min.twig") %}#}
{#        {% include("./templates/messenger.twig") %}#}
      {% include("./templates/right-sidebar.twig") %}
{#      {% include("./templates/right-sidebar-min.twig") %}#}
        <div class="account-main__section-account section-account">
            <section class="section-account__header">
              <div class="section-account__header-img">

              </div>
              <nav class="section-account__nav-menu account-nav-menu">
                <ul class="section-account__menu-list">
                  <li class="section-account__menu-item"><a class="section-account__menu-link" href="#">Homepage</a></li>
                  <li class="section-account__menu-item"><a class="section-account__menu-link" href="#">About</a></li>
                  <li class="section-account__menu-item"><a class="section-account__menu-link" href="#">Friends</a></li>
                </ul>
                <div class="account-nav-menu__avatar-block">
                  <img src="" alt="" class="account-nav-menu__avatar">
                  <span class="account-nav-menu__avatar-name">{{user.firstname}} {{user.lastname}}</span>
                  <span class="account-nav-menu__avatar-city">@{{ user.username }}</span>

                </div>
                <ul class="section-account__menu-list">
                  <li class="section-account__menu-item"><a class="section-account__menu-link" href="#">Photos</a></li>
                  <li class="section-account__menu-item"><a class="section-account__menu-link" href="#">Videos</a></li>
                  <li class="section-account__menu-item"><a class="section-account__menu-link" href="#">Edit</a></li>
                </ul>
              </nav>
            </section>
        </div>
      <div>
        <section class="section-account__main">
          <div class="section-account__column-one">
            <div class="section-account__profile-intro">
              {% include("./templates/profile-intro.twig") %}
            </div>
          </div>
          <div class="section-account__column-two">
            <section class="section-account__main-column">
              {% include('./templates/main-column.twig') %}
            </section>
          </div>
          <div class="section-account__column-three">
            <section class="section-account__friends">
              {% include('./templates/friends.twig') %}
            </section>
          </div>



        </section>
      </div>
    </div>
  </main>
{#<section class="container-fluid main-section main-bg-color">#}
{#  {% include("./templates/header.twig") %}#}
{#  <div class="bg-color-block"></div>#}
{#  <div class="main-wrapper container col-xl-11 col-lg-11 col-md-11 col-sm-11">#}
{#    <div class="row">#}
{#      {% include('./templates/left-sidebar.twig') %}#}
{#      <div class="col-xl-9 col-lg-8 col-md-12 tweets-main">#}
{#        <div#}
{#          class="col-xl-12 col-lg-12 col-md-12 tweets-main__header mb-2 px-0"#}
{#        >#}
{#          <section class="container-fluid">#}
{#            <div class="row">#}
{#              <nav#}
{#                class="col pb-0 px-0 navbar navbar-expand-lg navbar-light bg-light tweets-nav-head-list"#}
{#              >#}
{#                <div#}
{#                  class="tweets-tabs-wrapper w-100 d-flex justify-content-between flex-wrap"#}
{#                  id="navbarNavDropdown"#}
{#                >#}
{#                  <ul#}
{#                    class="nav-twets-menu nav nav-tabs navbar-nav text-uppercase d-flex flex-row flex-wrap"#}
{#                    id="nav-tweets-tabs"#}
{#                  >#}
{#                    <li data-tab-name="tab1"#}
{#                      class="tab-is-active tweet-tabs#}
{#                      nav-item pr-2  pl-3 activity-border#}
{#                      nav-item d-flex flex-column mr-4"#}
{#                    >#}
{#                      <a#}
{#                        class="nav-link px-0 pb-0 pt-0 border-0"#}
{#                        id="column1"#}
{#                        href="#"#}
{#                        >tweets</a#}
{#                      >#}
{#                      <label for="column1" class="navbar-text-color mb-1"#}
{#                        >781</label#}
{#                      >#}
{#                    </li>#}
{#                    <li#}
{#                      data-tab-name="tab2"#}
{#                      class="nav-item  tweet-tabs activity-border nav-item d-flex flex-column mr-4"#}
{#                    >#}
{#                      <a#}
{#                        class="nav-link px-0 pb-0 pt-0 border-0"#}
{#                        id="column3"#}
{#                        href="#"#}
{#                        >following</a#}
{#                      >#}
{#                      <label for="column3" class="navbar-text-color mb-1"#}
{#                        >164</label#}
{#                      >#}
{#                    </li>#}
{#                    <li#}
{#                      data-tab-name="tab3"#}
{#                      class="nav-item tweet-tabs activity-border nav-item d-flex flex-column mr-4"#}
{#                    >#}
{#                      <a#}
{#                        class="nav-link px-0 pb-0 pt-0 border-0"#}
{#                        id="column4"#}
{#                        href="#"#}
{#                        >followers</a#}
{#                      >#}
{#                      <label for="column4" class="navbar-text-color mb-1"#}
{#                        >277</label#}
{#                      >#}
{#                    </li>#}
{#                  </ul>#}
{#                  <ul#}
{#                    class="nav-twets-menu navbar-nav text-uppercase d-flex flex-row flex-wrap"#}
{#                  >#}
{#                    <li class="d-flex align-items-center pr-2">#}
{#                      <input#}
{#                        type="button"#}
{#                        value="following"#}
{#                        class="btn custom-btm-f text-capitalize px-3 text-white"#}
{#                      />#}
{#                    </li>#}
{#                    <li#}
{#                      class="ml-3 align-items-center who-to-follow-display"#}
{#                    >#}
{#                      <a href="#" class="text-muted text-decoration-none">Who to follow</a>#}
{#                    </li>#}
{#                    <li class="nav-item d-flex align-items-center pl-2">#}
{#                      <a class="nav-link text-muted" href="{{ localhost }}user/edit">Edit Profile</a>#}
{#                    </li>#}
{#                    <li></li>#}
{#                  </ul>#}
{#                </div>#}
{#              </nav>#}
{#            </div>#}
{#          </section>#}
{#        </div>#}
{#        <div class="row flex-wrap align-items-start tab-content">#}
{#          {% include('./templates/main-column.twig') %}#}
{#          {% include('./templates/right-sidebar.twig') %}#}
{#        </div>#}
{#        <!-- Tweets footer -->#}
{#        {% include('./templates/footer.twig') %}#}
{#      </div>#}
{#    </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}
{% endblock %}
{% block script %}
  <script src="../../public/scripts/header-search-list.js"></script>
  <script src="../../public/scripts/tabs-clicker.js"></script>
{#  <script src="../../public/scripts/tweet-script.js"></script>#}
  <script src="../../public/scripts/tweet-header-toggle-script.js"></script>
  <script src="../../public/scripts/add-tweet-validation.js"></script>
  <script src="../../public/scripts/post-actions.js"></script>
{% endblock %}
