{% extends "default.twig" %}
{% block title %}Dev{communication}{% endblock %}
{% block body %}
  <main id="main">
      <div class="container col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 center">
        <div class="row justify-content-center">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-10 col-10 withoutPadding"
          >
            <img
              src="../../public/img/icons/Twitter_logo_cool.svg"
              alt="Twitter"
              class="header-logo"
            />
          </div>
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-10 col-10 withoutPadding"
          >
            <h1 class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 title">
              See what's happening in the world right now
            </h1>
          </div>
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-10 col-10 withoutPadding "
          >
            <p class="">Join Twitter today</p>
          </div>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block col-xl-12 col-lg-12 col-md-10 col-sm-10 col-10 button-login"
          >
            <a href="{{ localhost }}user/login" class="no-style">Log In</a>
          </button>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg btn-block col-xl-12 col-lg-12 col-md-10 col-sm-10 col-10 button-signup"
          >
            <a href="{{ localhost }}user/signup" class="no-style">Sign Up</a>
          </button>
{#          <a href="../blabla" class="no-style">Blabla</a>#}
        </div>
      </div>
    </main>
{% endblock %}