{% extends "default.twig" %}
{% block title %}Edit profile{% endblock %}
{% block body %}
<div class="header-section sticky-top">
  {% include('./templates/header.twig') %}
</div>
<main class="container-fluid">
  <div class="main-wrapper container">
    <div class="row row-edit">
      {% include('./templates/min-user-card.twig') %}
      <div class=" tweets-main">
        <div class="registration-form shadow ">
          {% include('./templates/edit-prof-form1.twig') %}
        </div>
        <div class="registration-form shadow ">
          {% include('./templates/edit-prof-form2.twig') %}
        </div>
      </div>
    </div>
  {% endblock %}
{% block script %}
<script src="../../public/scripts/edit-content.js"></script>
<script src="../../public/scripts/header-search-list.js"></script>
{% endblock %}