{% extends "default.twig" %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <section class="container-fluid main-section main-bg-color">
      {% include('./templates/header.twig') %}
      <div class="main-wrapper container col-xl-11 col-lg-11 col-md-11 col-sm-11">
        <div class="">
          {% include('./templates/user-card.twig') %}
          <div class="col-xl-9 col-lg-8 col-md-12 tweets-main">
            <div class="row flex-wrap align-items-start tab-content">
              {% include('./templates/main-column.twig') %}
              {% include('./templates/right-sidebar.twig') %}
            </div>
            {% include('./templates/footer.twig') %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}
{% block script %}
  <script src="../../public/scripts/header-search-list.js"></script>
  <script src="../../public/scripts/tabs-clicker.js"></script>
{#  <script src="../../public/scripts/tweet-script.js"></script>#}
  <script src="../../public/scripts/tweet-header-toggle-script.js"></script>
  <script src="../../public/scripts/add-tweet-validation.js"></script>
  <script src="../../public/scripts/post-actions.js"></script>
{% endblock %}