{% extends "default.twig" %}

{% block page_name %}
  welcome
{% endblock %}
{% block body %}
  <div class="main">
    <header id="header">
      <div class="container col-xl-9 col-9">
        <nav class="nav">
          <a
                  class="nav-link active nav-link_logo text-color-silver none"
                  href="../"
          >Home</a
          >
          <a class="nav-link text-color-silver col-auto none" href="#"
          >About</a
          >
          <a href="../" class="nav-header_logo center"
          ><img src="../../public/img/icons/Twitter_logo_cool.svg" alt="Twitter"
            /></a>
        </nav>
      </div>
    </header>

    <main class="main-block">
      <div class="container">
        <form
            action="login"
            method="POST"
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 main-form shadow mt-4"
        >
          <div class="form-contern">
            <h4 class="form-title">Login to Twitter</h4>
          <input
            type="text"
            name="email"
            value="{{ formdata.email }}"
            class="col-xl-6 col-lg-6 col-sm-12 col-12 mt-5 form-input_email email"
            placeholder="Email or Username"
          />
            <p class="reg-errors">
              {{ errors.email_err }}
            </p>
          <input
            type="password"
            name="password"
            value="{{ formdata.password }}"
            class="col-xl-6 col-lg-6 col-sm-12 col-12 mt-5 form-input_psw password"
            placeholder="Password"
          />
            <p class="reg-errors">
              {{ errors.password_err }}
            </p>
          <button
            type="submit"
            class="btn btn-primary rounded-pill mt-5 form-button"
          >
            SUBMIT
          </button>
          </div>
          <div class="form-footer col-xl-12">
            <p class="withoutPadding col-xl-12 col-10">
              Don't have an account? <a href="{{ localhost }}user/signup">Create one</a>
            </p>
          </div>
        </form>

      </div>
    </main>
  </div>
{% endblock%}
{% block script %}
  <script src="../../public/scripts/menu-script.js"></script>
{% endblock %}

{#{% extends "default.twig" %}#}
{#{% block page_name %}#}
{#  welcome#}
{#{% endblock %}#}
{#{% block body %}#}

{#{% endblock %}#}
