{% extends "default.twig" %}

{% block body %}
<section class="container-fluid main-section main-bg-color">
  {% include("./templates/header.twig") %}
  <div class="main-wrapper container col-xl-11 col-lg-11 col-md-11 col-sm-11 mt-3">
    <div class="row">
      {% include('./templates/user-card.twig') %}
      <div class="col-xl-9 col-lg-8 col-md-12 tweets-main">
        <div class="row flex-wrap align-items-start tab-content">
          <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 tweets-main__content" id="followers">
            <div class="col-xl-12 d-flex search-text">
              <span>Search people for people on twitter</span></div>
          </div>
          {% include('./templates/right-sidebar.twig') %}
        </div>
        {% include('./templates/footer.twig') %}
      </div>
    </div>
    </div>
</section>
{% endblock %}
{% block script %}
  <script src="../../public/scripts/header-search-list.js"></script>
  <script src="../../public/scripts/tabs-clicker.js"></script>
{% endblock %}