{% extends "default.twig" %}

{% block body %}
<main class="main">
{#      <header id="header">#}
{#        <div class="container col-xl-9 col-9">#}
{#          <nav class="nav">#}
{#            <a#}
{#              class="nav-link active nav-link_logo text-color-silver none"#}
{#              href="../"#}
{#              >Home</a#}
{#            >#}
{#            <a class="nav-link text-color-silver col-auto none" href="#"#}
{#              >About</a#}
{#            >#}
{#            <a href="../" class="nav-header_logo center"#}
{#              ><img src="../../public/img/icons/Twitter_logo_cool.svg" alt="Twitter"#}
{#            /></a>#}
{#          </nav>#}
{#        </div>#}
{#      </header>#}
  {% include("./templates/header.twig") %}
      <div class="container">
        <form
          action="{{ localhost }}user/signup"
          method="POST"
          class="registration-form col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12 shadow mt-4 form-reg"
        >
          <div class="form-content">
            <h4 class="registration-title">Create an account</h4>
            <div class="row withoutPadding">
              <input
                type="text"
                name="firstname"
                value="{{ formdata.firstname }}"
                class=" col-xl-5 col-lg-5 col-sm-12 col-12 mt-3 registration-form_input firstName firstname "
                placeholder="First name"
              />
              <p class="reg-errors">
                {{ errors.firstname_err }}
              </p>
              <input
                type="text"
                name="lastname"
                value="{{ formdata.lastname }}"
                class="col-xl-5 col-lg-5 col-sm-12 col-12 mt-3 ml-auto registration-form_input form_input-lastname lastName lastname"
                placeholder="Last name"
              />
              <p class="reg-errors">
                {{ errors.lastname_err }}
              </p>
            </div>
            <div class="row withoutPadding">
              <input
                type="email"
                name="email"
                value="{{ formdata.email }}"
                class="col-12 mt-3 registration-form_input email"
                placeholder="Email"
              />
              <p class="reg-errors">
              {{ errors.email_err }}
              </p>
              <input
                type="text"
                name="username"
                value="{{ formdata.username }}"
                class="col-12 mt-3 registration-form_input userName username"
                placeholder="Username"
              />
              {% if errors.username_err == true %}
                <p class="reg-errors">
                    {{ errors.username_err }}
                </p>
              {% else %}
                <p class="hints">
                    Username must be at least three(3) chapters long and must
                    contain one underscore and number
                </p>
              {% endif %}
{#              <input#}
{#                type="date"#}
{#                name="dob"#}
{#                class="col-12 mt-2 registration-form_input dateOfBirth "#}
{#                placeholder="Date of birth"#}
{#              />#}
              <div class="d-flex date-of-birth justify-content-between flex-row align-items-center">
                <span class="dob-text">Date of birth:</span>
                <div class="select-dob-wrapper d-flex justify-content-between">
                <select class="form-control select-field dob-month" name="dob_month">
                  <option>month</option>
                  {% for i in 1..9 %}
                    <option id="0{{ i }}" value="0{{ i }}">0{{ i }}</option>
                  {% endfor %}
                  {% for i in 10..12 %}
                    <option id="{{ i }}" value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
                <select  class="form-control select-field dob-day" name="dob_day">
                  <option value="day">day</option>
                  {% for i in 1..9 %}
                    <option id="0{{ i }}" value="0{{ i }}">0{{ i }}</option>
                  {% endfor %}
                  {% for i in 10..31 %}
                    <option id="{{ i }}" value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
                <select class="form-control select-field dob-year" name="dob_year">
                  <option>year</option>
                  {% for i in 2020..1950 %}
                    <option id="{{ i }}" value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
                </div>
              </div>

              <input
                type="password"
                name="password"
                value="{{ formdata.password }}"
                class="col-12 mt-3 registration-form_input password"
                placeholder="Password"
              />
              {% if errors.password_err == true %}
                <p class="reg-errors">
                  {{ errors.password_err }}
                </p>
              {% else %}
                <p class="hints">
                  Password must be at least eight(8) chapters long and must contain
                  one uppercase and number
                </p>
              {% endif %}
              <input
                type="password"
                name="password"
                class="col-12 mt-3 registration-form_input confirmPassword confirmpassword"
                placeholder="Confirm password"
              />
              <button
                type="submit"
                name="submit"
                class="btn btn-primary rounded-pill mt-4 form-button registrationBtn submit "
              >
                SUBMIT
              </button>
            </div>
          </div>
          <footer class="form-footer col-12">
            <p class="footer-link">
              Already using twitter? <a href="{{ localhost }}user/login">LOGIN</a>
            </p>
          </footer>
        </form>
      </div>
    </main>
{% endblock %}
{% block script %}
  <script src="../../public/scripts/menu-script.js"></script>
  <script src="../../public/scripts/registration-script.js"></script>
{% endblock %}